<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Little Helpers</title>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded white shadow">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/dashboard.html">
        <img src="media/logo.png" width="225" height="60" class="d-inline-block align-top" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary logout" id="logout">LOGOUT</button>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="green small-div text-center white-text col-lg-12" id="childName">
      </div>
      <div class="pink small-div text-center white-text col-lg-12">
        <h1>Rewards</h1>
      </div>
      <div class="row no-gutters" id="childRewards">
        <a href class="col-lg-12 text-center" data-toggle="modal" data-target="#addRewardModal">
          <div class="card grey white-text">
            <div class="card-block">
              <h1 class="card-title">+ Add Reward</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="pink small-div text-center white-text col-lg-12">
        <h1>Tasks</h1>
      </div>
      <div class="row no-gutters" id="childTasks">
          <a href="" class="col-lg-12 text-center" data-toggle="modal" data-target="#addTaskModal">
            <div class="card grey white-text">
              <div class="card-block">
                <h1 class="card-title">+ Add Task</h1>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="modal fade" id="addRewardModal" tabindex="-1" role="dialog" aria-labelledby="addRewardModel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="navbar-brand" href="#">
                <img src="media/logo.png" width="250" height="70" class="d-inline-block align-top" alt="">
              </a>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="input" class="form-control" aria-describedby="addReward" placeholder="Reward Name" id="rewardName">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Point Worth" min="1" max="50" id="rewardPointWorth">
                </div>
                <button type="submit" class="btn btn-primary btn-block col-12" id="addReward">Add Reward</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <a class="navbar-brand" href="#">
                <img src="media/logo.png" width="250" height="70" class="d-inline-block align-top" alt="">
              </a>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="input" class="form-control" aria-describedby="emailHelp" placeholder="Task Name" id="taskName">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Point Worth" min="1" max="50" id="taskPointWorth">
                </div>
                <button type="submit" class="btn btn-primary btn-block col-12" id="addTask">Add Task</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </main>

    <script id="reward-template" type="text/x-handlebars-template">
        <div class="col-lg-12 text-center">
          <div class="card blue white-text">
            <button class="text-center btn btn-secondary white-text ml-auto" id="deleteReward" data-points='{{id}}'>X</button>
            <button class="text-center btn btn-secondary white-text ml-auto" id="redeemReward" data-reward='{{id}}' data-rewardPoints1='{{rewardPoints}}'>&#10003;</button>
            <div class="card-block">
              <h1 class="card-title">{{rewardName}}</h1>
              <h3 class="card-text">You need {{rewardPoints}} points!</h3>
            </div>
          </div>
        </div>
    </script>

    <script id="task-template" type="text/x-handlebars-template">
        <div class="col-lg-12 text-center">
          <div class="card blue white-text">
            <button class="text-center btn btn-secondary white-text ml-auto" id="deletePoints" data-points='{{id}}'>X</button>
            <button class="text-center btn btn-secondary white-text ml-auto" id="addPoints" data-points='{{id}}' data-taskPoints='{{taskPoints}}'>&#10003;</button>
            <div class="card-block">
              <h1 class="card-title">{{taskName}}</h1>
              <h3 class="card-text">Earn {{taskPoints}} points!</h3>
            </div>
          </div>
        </div>
    </script>

    <script id="child-template" type="text/x-handlebars-template">
        <h1 id="child-points" data-points="{{childPoints}}">{{childName}} has {{childPoints}} points!</h1>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="child.js" charset="utf-8"></script>
  </body>
</html>
